<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.chainsupermarket.dao.advertising.AdVerTiListVoMapper">
    <resultMap id="advertiListMap" type="AdVerTiListVO">
        <id column="ADVERTILIST_ID" property="adVerTiListId" />
        <result column="ADVERTI_IMAGE" property="adVerTiImage" />
        <result column="ADVERTI_NAME" property="adVerTiName" />
        <result column="ADVERTI_LINK" property="adVerTiLink" />
        <result column="USABLE" property="usable" />
        <result column="ORDERBY_BY" property="orderByBy" />
        <result column="CREATETIME" property="createTime" />
        <result column="ENTERINGTIME" property="enteringTime" />
        <result column="UPDATETIME" property="updateTime" />
        <result column="ADVERT_CONTENT" property="advertContent" />
        <result column="COMMODITY_ID" property="commodityId" />
        <association property="type" column="ADVERTISING_TYPE_ID"
                     select="com.csdj.chainsupermarket.dao.advertising.AdvertisingTypeVoMapper.findByName"/>
    </resultMap>
    <!--根据广告名称和广告类型查询-->
    <select id="findAdVerTiListVOList" parameterType="map" resultMap="advertiListMap">
       select * from adverti_list where 1 = 1
           <if test="adVerTiName !=null and adVerTiName != ''">
               and adverti_name like concat('%', #{adVerTiName}, '%')
           </if>
           <if test="advertisingTypeId != null and advertisingTypeId != ''">
               and advertising_type_id=#{advertisingTypeId}
           </if>
        LIMIT #{off},#{size}
   </select>
    <select id="getCount"  resultType="int">
        select count(1) from adverti_list where 1 = 1
        <if test="adVerTiName !=null and adVerTiName != ''">
            and adverti_name like concat('%', #{adverTiName}, '%')
        </if>
        <if test="advertisingTypeId != null and advertisingTypeId != ''">
            and advertising_type_id=#{advertisingTypeId}
        </if>
    </select>
    <!--添加广告信息-->
    <insert id="addAdVerTiListVO" parameterType="AdVerTiListVO">
        insert into adverti_list (adverti_image,adverti_name,adverti_link,usable,orderby_by,createtime,enteringtime,updatetime,advertising_type_id,advert_content,commodity_id)
           values(#{adVerTiImage},#{adVerTiName},#{adVerTiLink},#{usable},#{orderByBy},#{createTime},#{enteringTime},#{updateTime},#{advertisingTypeId},#{advertContent},#{commodityId})
    </insert>
    <!--修改广告信息-->
    <update id="updAdVerTiListVO" parameterType="AdVerTiListVO">
        update adverti_list
            <set>
                <if test="adVerTiImage != null" >
                    adverti_image = #{adVerTiImage},
                </if>
                <if test="adVerTiName != null" >
                    adverti_name = #{adVerTiName},
                </if>
                <if test="adVerTiLink != null" >
                    adverti_link = #{adVerTiLink},
                </if>
                <if test="usable != null" >
                    usable = #{usable},
                </if>
                <if test="orderByBy != null" >
                    orderby_by = #{orderByBy},
                </if>
                <if test="updateTime != null" >
                    updatetime = #{updateTime},
                </if>
                <if test="advertisingTypeId != null" >
                    advertising_type_id = #{advertisingTypeId},
                </if>
                <if test="advertContent != null" >
                    advert_content = #{advertContent},
                </if>
                <if test="commodityId != null" >
                    commodity_id = #{commodityId},
                </if>
            </set>
        where advertilist_id=#{adVerTiListId}
    </update>
    <!--删除广告信息-->
    <delete id="delAdVerTiListVO" parameterType="String">
        delete from adverti_list where advertilist_id=#{adVerTiListId}
    </delete>
    <!--根据编号查询广告信息 -->
    <select id="getByIdAdVerTiListVO">
        select * from adverti_list where advertilist_id=#{adVerTiListId}
    </select>

    <!--接口 -->
    <select id="getAdVerTiListVo" parameterType="AdVerTiListVO" resultType="AdVerTiListVO">
        select advertilist_id as adVerTiListId,adverti_image as adVerTiImage,adverti_name as adVerTiName,adverti_link as adVerTiLink, usable as usable,orderby_by as orderByBy,createtime as createTime,enteringtime as enteringTime,advertising_type_id as advertisingTypeId,advert_content as advertContent from adverti_list
    </select>


    <!-- 查询活动名称是否冲突 -->
    <select id="selectByActivityName" parameterType="AdVerTiListVO" resultType="AdVerTiListVO">
		select adverti_name from adverti_list where adverti_name = #{adVerTiName}
	</select>
</mapper>