<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- COUPON_TYPE 优惠券类型 -->
<mapper namespace="com.csdj.chainsupermarket.dao.marketing.CouponTypeMapper">
    <!-- 结果映射 -->
    <resultMap id="map" type="CouponType">
        <id column="COUPON_TYPE_ID" property="couponTypeId" jdbcType="BIGINT" />
        <result column="COUPON_TYPE_NAME" property="couponTypeName" jdbcType="VARCHAR" />
        <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>

    <!-- 表所有字段 -->
    <sql id="allColumns">
        COUPON_TYPE_ID, COUPON_TYPE_NAME, GMT_CREATE, GMT_MODIFIED
    </sql>

    <!-- 查询单个优惠券类型 -->
    <select id="findCouponTypeById" resultMap="map" parameterType="Integer">
        select <include refid="allColumns"></include>
        from COUPON_TYPE
        where COUPON_TYPE_ID=#{couponTypeId}
    </select>

    <select id="findByAll" resultMap="map" >
        select <include refid="allColumns"></include>
        from COUPON_TYPE
    </select>
</mapper>