<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.8.8
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- COUPON_COLLECTION -->
<mapper namespace="com.csdj.chainsupermarket.dao.marketing.CouponCollectionMapper">
    <!-- 结果映射 -->
    <resultMap id="map" type="CouponCollection">
        <id column="COLLECTION_ID" property="collectionId"/>
        <result column="DRAW_TIME" property="drawTime"/>
        <result column="USE" property="use" />
        <result column="STATUS" property="status"/>
        <result column="GMT_CREATE" property="gmtCreate"/>
        <result column="GMT_MODIFIED" property="gmtModified"/>
        <association property="discountCoupon" column="COUPON_ID" select="com.csdj.chainsupermarket.dao.marketing.DiscountCouponMapper.findById"></association>
        <association property="userInfo" column="USER_ID" select="com.csdj.chainsupermarket.dao.marketing.UserInfoMapper.findById"></association>
    </resultMap>
    <!-- 表所有字段 -->
    <sql id="allColumns">
        COLLECTION_ID, COUPON_ID, USER_ID, DRAW_TIME, USE, STATUS,
        GMT_CREATE, GMT_MODIFIED
    </sql>

    <!-- 查看已领取张数 -->
    <select id="findAlreadyReceived" resultType="int" parameterType="Integer">
        SELECT b.payment_amount-COUNT(a.user_id)
        FROM coupon_collection AS a , discount_coupon AS b
        WHERE a.coupon_id=b.coupon_id AND a.coupon_id=#{couponId}
--             select count(1) from coupon_collection
    </select>

    <!--用户领取优惠券-->
    <insert id="addCouponCollection" parameterType="map">
        INSERT INTO COUPON_COLLECTION (COLLECTION_ID, COUPON_ID, USER_ID, DRAW_TIME, `USE`, STATUS,GMT_CREATE, GMT_MODIFIED)
        VALUES (null,#{couponId},#{userId},#{now},0,0,#{now},#{now})
    </insert>
    <!-- 领取记录 -->
    <select id="selectUserAll" parameterType="int" resultMap="map">
        select COLLECTION_ID, COUPON_ID, USER_ID, DRAW_TIME, `USE`, `STATUS`,GMT_CREATE, GMT_MODIFIED
        from COUPON_COLLECTION
        where COUPON_ID=#{couponId}
    </select>

    <!--单张优惠券领了几张-->
    <select id="findCount" parameterType="map" resultType="int">
        select count(*) from `coupon_collection` where `coupon_id`=#{couponId} and `user_id` =#{userId}
    </select>
</mapper>