<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DISTRIBUTION_TYPE 发放类型-->
<mapper namespace="com.csdj.chainsupermarket.dao.marketing.DistributionTypeMapper">
    <!-- 结果映射 -->
    <resultMap id="map" type="DistributionType">
        <id column="DISTRIBUTION_ID" property="distributionId" jdbcType="BIGINT" />
        <result column="DISTRIBUTION_NAME" property="distributionName" jdbcType="VARCHAR" />
        <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>

    <!-- 表所有字段 -->
    <sql id="allColumns">
        DISTRIBUTION_ID, DISTRIBUTION_NAME, GMT_CREATE, GMT_MODIFIED
    </sql>
    <!-- 查询单个发放类型 -->
    <select id="findById" resultMap="map" parameterType="int">
        select <include refid="allColumns"></include>
        from DISTRIBUTION_TYPE
        where distribution_id=#{distributionId}
    </select>

    <!-- 查询所有发放类型 -->
    <select id="findByAll" resultMap="map">
        select <include refid="allColumns"></include>
        from DISTRIBUTION_TYPE
    </select>
</mapper>