<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author:bianj
    Email:edinsker@163.com
    Version:5.8.8
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- PREFERENTIAL_TYPE  优惠类型 -->
<mapper namespace="com.csdj.chainsupermarket.dao.marketing.PreferentialTypeMapper">
    <!-- 结果映射 -->
    <resultMap id="map" type="PreferentialType">
        <id column="PREFERENTIAL_ID" property="preferentialId" jdbcType="BIGINT" />
        <result column="PREFERENTIAL_NAME" property="preferentialName" jdbcType="VARCHAR" />
        <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>

    <!-- 表所有字段 -->
    <sql id="allColumns">
        PREFERENTIAL_ID, PREFERENTIAL_NAME, GMT_CREATE, GMT_MODIFIED
    </sql>
    <!--查询单个优惠类型-->
    <select id="findPreferentialTypeById" resultMap="map" parameterType="Integer">
        select <include refid="allColumns"></include>
        from PREFERENTIAL_TYPE
        where PREFERENTIAL_ID = #{preferentialId}
    </select>

</mapper>