<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- USAGE_RESTRICTION 使用限制 -->
<mapper namespace="com.csdj.chainsupermarket.dao.marketing.UsageRestrictionMapper">
    <!-- 结果映射 -->
    <resultMap id="map" type="UsageRestriction">
        <id column="RESTRICTION_ID" property="restrictionId"/>
        <result column="RESTRICTION_NAME" property="restrictionName"/>
        <result column="BEGINTIME" property="begintime" />
        <result column="STOPTIME" property="stoptime" />
        <result column="GMT_CREATE" property="gmtCreate" />
        <result column="GMT_MODIFIED" property="gmtModified" />
        <association property="discountCoupon" column="COUPON_ID" select="com.csdj.chainsupermarket.dao.marketing.DiscountCouponMapper.findById"></association>
    </resultMap>

    <!-- 表所有字段 -->
    <sql id="allColumns">
        RESTRICTION_ID, COUPON_ID, RESTRICTION_NAME, BEGINTIME, STOPTIME, GMT_CREATE,
        GMT_MODIFIED
    </sql>
    <!--查询单个使用限制-->
    <select id="findById" parameterType="int" resultMap="map">
        select <include refid="allColumns"></include>
        from USAGE_RESTRICTION
        where COUPON_ID=#{couponId}
    </select>
    <!--添加使用限制-->
    <insert id="addUsageRestriction" parameterType="map">
        INSERT INTO `usage_restriction`(RESTRICTION_ID, COUPON_ID, RESTRICTION_NAME, BEGINTIME, STOPTIME, GMT_CREATE,GMT_MODIFIED)
        VALUES(0,@@IDENTITY,#{restrictionName},#{restrictionBeginTime},#{stoptime},#{now},#{now});
    </insert>

    <!--根据优惠券ID添加-->
    <insert id="addInfo" parameterType="map">
        INSERT INTO `usage_restriction`(RESTRICTION_ID, COUPON_ID, RESTRICTION_NAME, BEGINTIME, STOPTIME, GMT_CREATE,GMT_MODIFIED)
        VALUES(0,#{couponId},#{restrictionName},#{restrictionBeginTime},#{stoptime},#{now},#{now});
    </insert>
    <!--删除使用限制-->
    <delete id="delUsageRestriction" parameterType="int">
        delete from usage_restriction where COUPON_ID=#{couponId}
    </delete>
    <!--修改使用限制-->
    <update id="updateUsageRestriction" parameterType="map">
        UPDATE USAGE_RESTRICTION SET
            COUPON_ID = #{couponId},
            RESTRICTION_NAME = #{restrictionName},
            BEGINTIME = #{restrictionBeginTime},
            STOPTIME = #{stoptime},
            GMT_MODIFIED = #{now}
        WHERE RCOUPON_ID=#{couponId}
    </update>
</mapper>