<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.chainsupermarket.dao.commodity.GoodsSizeMapper">
    <select id="goodsSizeSelect" resultType="com.csdj.chainsupermarket.entity.commodity.GoodsSize">
       SELECT
          `sizeid`,
          `sizename`,
          `del`,
          `null1`
        FROM
          `goods_size`
        WHERE del = 0
    </select>

    <select id="goodsSizePage" resultType="com.csdj.chainsupermarket.entity.commodity.GoodsSize">
       SELECT
          `sizeid`,
          `sizename`,
          `del`,
          `null1`
        FROM
          `goods_size`
        WHERE del = 0
        limit #{currentPage},#{pageSize}
    </select>

    <select id="goodsSizeCount" resultType="int">
       SELECT count(1)
        FROM
          `goods_size`
        WHERE del = 0
    </select>

    <insert id="goodsSizeInsert" parameterType="com.csdj.chainsupermarket.entity.commodity.GoodsSize">
        INSERT INTO `goods_size` (
          `sizename`
        )
        VALUES
          (
            #{sizename}
          )
    </insert>
    <update id="goodsSizeUpdate">
        update
          `goods_size`
        set
          `sizename` = #{sizename}
        where `sizeid` = #{sizeid}
    </update>

    <update id="goodsSizeDel">
        UPDATE
          `goods_size`
        SET
          `del` = 1
        WHERE `sizeid` = #{sizeid}
    </update>
</mapper>