<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdj.chainsupermarket.dao.commodity.GoodsCommodityMapper">
    <!--按条件查询商品列表-->
    <select id="listCommodity" resultMap="CommodityMap">
        SELECT gc.`id`,gc.`picturepath`,gc.`goods_title`,gt.`type_name`,gc.`goods_code`,gc.`createdate`,gc.`del`
        FROM `goods_commodity` gc,`goods_type` gt
        <where>
            <if test="goodsTitle!=null and goodsTitle!=''">
                and gc.`goods_title`like concat('%',#{goodsTitle},'%')
            </if>
            <if test="ccategoryid!=null and ccategoryid!=''">
                and gc.`ccategoryid`=#{ccategoryid}
            </if>
            and gc.ccategoryid=gt.id and gc.del!=1
        </where>
        limit #{start},#{pageSize}
    </select>


    <resultMap id="CommodityMap" type="GoodsCommodity">
        <id property="id" column="id"/>
        <result property="picturepath" column="picturepath"/>
        <result property="goodsTitle" column="goods_title"/>
        <result property="goodsCode" column="goods_code"/>
        <result property="createdate" column="createdate"/>
        <result property="typeName" column="type_Name"/>
        <result property="condition" column="condition"/>
        <result property="upperDown" column="upper_down"/>
        <result property="price" column="price"/>
        <result property="weight" column="weight"/>
        <result property="del" column="del"/>
    </resultMap>

    <!--分页查询-->
    <select id="pageCommodity" resultMap="CommodityMap">
        SELECT gc.`id`,gc.`upper_down`,gc.`picturepath`,gc.`goods_title`,gt.`type_name`,gc.`goods_code`,gc.`createdate`,gc.`price`,gc.`weight`,gc.`del`
        FROM `goods_commodity` gc,`goods_type` gt
        where gc.ccategoryid=gt.id and gc.del!=1
        limit #{start},#{pageSize}
    </select>

    <!--查询总记录数-->
    <select id="countCommodity" resultType="java.lang.Integer">
        select count(1) from goods_commodity where del!=1
    </select>

    <!--按类型查询商品-->
    <select id="selectCommodity" resultMap="CommodityMap">
        select
    </select>

    <!--修改商品信息-->
    <update id="upCommodity">
        update `goods_Commodity`(`goods_title`,`picturepath`,`createdate`,`type_Name`,`condition`,`price`,`weight`)
        values(#{goodsTitle},#{picturepath},#{createdate},#{typeName},#{condition},#{price},#{weight})
    </update>

    <!--删除商品-->
    <update id="delCommodity">
        update `goods_Commodity` set `del`=1 where id=#{id}
    </update>

    <!--下架商品-->
    <update id="underCarriage">
        update `goods_Commodity` set `upper_down`=1 where id=#{id}
    </update>

    <!--上架商品-->
    <update id="grounding">
        update `goods_Commodity` set `upper_down`=0 where id=#{id}
    </update>

    <!--添加商品-->
    <insert id="addCommodity">
        insert into `goods_Commodity`(`colorid`,`sizeid`,`detailsid`,`activityid`,`goods_name`,`goods_title`,`ccategoryid`,`goods_code`,`picturepath`,`bigpicturepath`,`createdate`,`activityprice`,`price`,`weight`,`condition`,`upper_down`,`del`,`bounds`,`presell`)
        values (#{colorid},#{sizeid},#{detailsid},#{activityid},#{goods_name},#{goods_title},#{ccategoryid},#{goods_code},#{picturepath},#{bigpicturepath},#{createdate},#{activityprice},#{price},#{weight},#{condition},#{upper_down},#{del},#{bounds},#{presell},)
    </insert>

    <!---->
</mapper>
